{% extends 'silpa.html' %}
{% block modulescript %}
<script type="text/javascript">
  $(document).ready(function(){
    $("form").submit(function(event){
      event.preventDefault();
      var jsonRequest = {
          method: "fortune.fortune",
          params: [
            this.database.value,
            this.input_text.value,
            ],
          id: "jsonrpc",
          jsonrpc: "2"
        },
        idError = $("#error"),
        idResult = $("#result"),
        idProgress = $("#progress");

      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/api/JSONRPC",
        data: JSON.stringify(jsonRequest),
        dataType: "json",
        beforeSend:function(){
          idError.hide();
          idResult.hide();
          idProgress.html("Please Wait...");
        },
        success: function(msg) {
          var result = msg.result.replace("\n", "&#13;");
          idProgress.hide();
          if(result !== "") {
            idResult.html(result).show();
          } else {
            idError.html("We couldn't find any search results").show();
          }
        },
        error: function(msg){
          idError.html("Something went wrong...").show();
          idProgress.hide();
        }
      });
    });
  });
</script>
{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Fortune Cookies (Random Quotes)</h1>
</div>
<p>Enter the text for getting a random quote with the given string in the below text area.</p>

<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-3">Search word (optional)</label>
    <div class="col-sm-4">
      <input type="text" class="form-control ime" name='input_text' id='input_text'/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Collection</label>
    <div class="col-sm-4">
      <select id="database" name="dictionary" class="form-control">
        <option value="malayalam_proverbs">Proverbs - Malayalam</option>
        <option value="thirukkural">Thirukkural - Tamil and English</option>
        <option value="chanakya">Chanakya - English</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <input type="submit" id="Fortune" value="Get the quote" class="btn btn-default"/>
    </div>
  </div>
</form>

<div class="silpa-hide alert alert-info" id="progress"></div>
<div class="silpa-hide alert alert-danger" id="error"></div>
<div class="silpa-hide alert alert-success" id="result"></div>
<hr/>
<div class="well">
  <h3>Python fortune API</h3>
  This service provides random quotes
  <ul>
    <li>Method: modules.Fortune.fortune
      <ul>
        <li>arg1 : database file name</li>
        <li>arg2 : Search word(optional)</li>
        <li>Return : Random quote</li>
      </ul>
    </li>
  </ul>
  <pre class="code">
>>>print fortune.fortune('chanakya')
"Do not inhabit a country where you are not respected,
cannot earn your livelihood, have no friends, or cannot
acquire knowledge."
>>>print fortune.fortune('chanakya','charity')
"The good habits of charity, learning and austerity
practised during many past lives continue to be cultivated
in this birth by virtue of the link (yoga) of this present
life to the previous ones."
  </pre>
</div>
{% endblock %}
